Appium-Python-Client==0.49
decorator==4.4.1
docutils==0.16
kitchen==1.2.6
numpy==1.16.6
Pillow==6.2.2
Pygments==2.5.2
PyPubSub==3.3.0
pywin32==227
robotframework==3.1.2
robotframework-appiumlibrary==1.5.0.4
robotframework-ride==1.7.4.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==4.2.0
selenium==3.141.0
six==1.14.0
urllib3==1.26.5
wxPython==4.0.7.post2
